.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    border-radius: 15px;
}

.wrapper > ul {
    list-style: none;
}

.wrapper > ul > li {

}