<div class="tree-view">
    <ul class="tree-view-list">
        @foreach(var info in Items)
        {
            <TreeViewItem Info="@info" @ref="HackySolution" ParentTreeView="this"/>
        }
    </ul>
</div>

@code {
    public delegate void SelectionChangedHandler(TreeViewItem? oldItem, TreeViewItem newItem);
    public event SelectionChangedHandler? SelectionChanged;
    public TreeViewItem? SelectedItem { get; set; }

    [Parameter]
    public List<TreeViewItemInfo> Items { get; set; } = new();
    private List<TreeViewItem> TreeViewItems { get; set; } = new();
    private TreeViewItem? HackySolution
    {
        set
        {
            if (value != null)
            {
                TreeViewItems.Add(value);
            }
        }
    }

    public void ChangeSelection(TreeViewItem newItem)
    {
        var oldItem = SelectedItem;
        
        if (SelectedItem != null)
        {
            SelectedItem.Unselect();
        }

        SelectedItem = newItem;

        SelectionChanged?.Invoke(oldItem, newItem);
    }
}